@(title: String)(message: String)(loggedIn: Boolean)(isFahrer:Boolean)
<!DOCTYPE html>
<html lang="de">
<head>
<title>Play Basics &Uuml;bersicht</title>
<link href="/assets/stylesheets/bootstrap.css" rel="stylesheet"
	media="screen">
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Mitfahrzentrale</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/assets/html/startapp.html">Home</a></li>
					<li><a href="/assets/html/uberuns.html">&Uuml;ber uns</a></li>
					<li class="active"><a
						href="/assets/html/mitfahrgelegenheit.html">Mitfahrgelengeheit</a></li>
					<li><a href="/assets/html/regis.html">Mitmachen</a></li>
					<li><a href="/assets/html/kontakt.html">Kontakt</a></li>
					@if(!loggedIn){
					<li class="active"><a href="/loginController/">Login</a></li>
					}else{
					<li class="active"><a href="/loginController/logout">Ausloggen</a></li>
					}
				</ul>
			</div>
			<!--/.nav-collapse -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/mfgSuchen/list">Suchen</a></li>
					<li class="active"><a href="/mfgAnlegen/">Anlegen</a></li>
					<li><a href="/mfgMeine/">Pers&ouml;nlicher Bereich</a></li>

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<div class="container">
		<br> <br> <br> <br> <br> <br>
		@if(loggedIn ){ @if(isFahrer){
		<h1>Mitfahrgelegenheit anlegen</h1>
		<dfn>
			Alle Felder mit * sind Pflicht <br> <br> <br>
		</dfn>
		@if(message) {
		<div class="alert alert-info">@message</div>

		}
		<form class="form-horizontal" role="form" method="POST"
			action="/mfgAnlegen/mfgAnlegen">
			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Startort*</label>
				<div class="col-lg-10">
					<input name="start" type="text" class="form-control" id="inputName"
						placeholder="Startort">
				</div>
			</div>

			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Zielort*</label>
				<div class="col-lg-10">
					<input name="ziel" type="text" class="form-control" id="inputName"
						placeholder="Zielort">
				</div>
			</div>
			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Datum*</label>
				<div class="col-lg-10">
					<input name="datum" type="text" class="form-control" id="inputName"
						placeholder="Wann">
				</div>
			</div>
			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Uhrzeit*</label>
				<div class="col-lg-10">
					<input name="zeit" type="text" class="form-control" id="inputName"
						placeholder="Uhrzeit">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default">Anlegen</button>
				</div>
			</div>
		</form>
		}else{
		<h1>Sie sind kein fahrer</h1>
		} }else{
		<h1>Sie sind entweder nicht eingeloggt</h1>
		}
</body>
</html>